@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

:root {
  --ifm-color-primary: #6868ac;
  --ifm-color-primary-dark: #4c4c93;
  --ifm-color-primary-darker: #5e5e5f;
  --ifm-color-primary-darkest: #212163;
  --ifm-color-primary-light: #9090cd;
  --ifm-color-primary-lighter: #afafe6;
  --ifm-color-primary-lightest: #cfcff6;
  --ifm-font-family-base: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgb(0 0 0 / 10%);
}

[data-theme='dark'] {
  --ifm-color-primary: #9494f7;
  --ifm-color-primary-dark: #6c6cd4;
  --ifm-color-primary-darker: #4a4ab1;
  --ifm-color-primary-darkest: #2f2f8f;
  --ifm-color-primary-light: #aeaefa;
  --ifm-color-primary-lighter: #bfbffc;
  --ifm-color-primary-lightest: #d5d5fe;
  --docusaurus-highlighted-code-line-bg: rgb(0 0 0 / 30%);
}
